<div class= "blogsingle view">
    <div class="container">

        <div class="row" >

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1 > {{ new.title }} </h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="#">Anonymous</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p id="demo"><span class="glyphicon glyphicon-time"></span> "demo" </p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead" > {{new.body}}</p>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
               

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                

                <!-- Comment -->
                

            </div>

            
         </div>       
		 
		 <script>
		 var d = new Date();
		document.getElementById("demo").innerHTML = d;
		</script>




