<div class = "guests view">
 <!-- Page Content -->
        
		<div id="about-us" class="col-md-12">
            <div class="container-fluid"> 
                 
                <div class="center">
                    <h2>Ponentes</h2>
                    <p class="lead">Listado de ponentes que pasaran por esta edicion de Sherpa Summit</p>
                </div>
                <div class="gap"></div>
                <div id="team-scroller" >
                   
                        <div class="item active" >  
                            <div class="container-fluid">
							
                                <span class="col-sm-4" data-ng-repeat="guest in guests ">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src={{guest.hover}} alt="" ></p>
                                        <h3>{{guest.name}} <small class="designation">{{guest.role}}</small></h3>
                                    </div>
                                </div>
								
								
								
                               
                            </div>
                        </div>
                        
                    
                  
					
					
					
					
					
					
					
					
					
					
					
					
					

                </div><!--/.carousel-->
          
            </div>
            <!-- /.container-fluid -->
        </div>
		