<div class= "bloghome view">
  <div class="container-fluid">
     <div class="container">		
		

        <br /><br />
        <div>
        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8" >
			
			<div class= "posts" >

                <!-- First Blog Post -->
                
                <p class="lead">
                    <a href="">Que es Sherpa Summit</a>
                </p>
                
                <p>El Sherpa Summit es un evento global que contará con debates de expertos internacionales de primer orden, que discutirán sobre la próxima generación de buscadores, búsqueda móvil, búsqueda por voz, interacción y nuevas interfaces de usuario.
				</p>
                
				<p>Este evento internacional cuenta con altos ejecutivos, economistas y estrategas, incluyendo innovadores, directores de tecnología y otros agentes que toman decisiones en el uso de la Web y las telecomunicaciones.</p>
				<p> <iframe width="520" height="326" src="http://www.youtube.com/embed/ot9DGJgJGHs" frameborder="0" allowfullscreen=""></iframe></p>

				<hr>
				<hr>
				
                <p class="lead">
                    <a href="">Donde</a>
                </p>
                
                <ul>
				<li> “Una de las regiones más desarrolladas del mundo” según Wikipedia</li>
				<li> Bilbao ha sido galardonada con el “World City Prize” (el nobel de las ciudades) en 2010</li>
				<li>Bilbao y su región son las más innovadores de Europa </li>
				<li> Aeropuerto internacional</li>
				</ul>
				
				

				<hr>
				<hr>
				
                <p class="lead">
                    <a href="">A quien esta dirigida</a>
                </p>
                
				

				<ul>
				<li> Desde visión de negocios: Directores Generales, Directores de Información, etc.</li>
				<li>Desde visión técnica (desarrolladores): Directores de Información, Directores Técnicos, desarrolladores, estudiantes de TI, etc. </li>
				</ul>
				<p>El idioma principal del evento será el inglés pero alternativamente, los ponentes podrán hacer su presentación en castellano o euskera. Se ofrecerá traducción simultánea en español/inglés.</p>
				
               </div> 

               

                
                   

               

            </div>

        </div>
        <!-- /.row -->

        <hr>

      

    </div>
            </div>
</div>