<div class = "location view">
  
           
                
				<div id="map-outer" class="col-md-12">
					<div id="address" class="col-md-4">
						<h2>Our Location</h2>
							<address>
							<strong>Peggy Guggenheim Collection</strong><br>
									Dorsoduro, 701-704<br>
									30123<br>
									Venezia<br>
									Italia<br>
									<abbr>P:</abbr> +39 041 240 5411
							</address>
							<form action = "http://maps.google.com/maps" = "get" target = "_blank"> <p> <b> Introduzca su dirección inicial: </b> </p> <input type="text" name="saddr" /> <input type = "hidden" name = "daddr" value = " Avinguda Cerdanyola 51,
08172, Sant Cugat del Vallès, Barcelona "/> <input type="submit" value="Get Directions" />
					</div>
                
				<div id ="map container" class="col-md-4">
				<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCb79yPwo9tm4ufN5m8cjq3jqnH1VaBcq4
    &q=Space+Needle,Seattle+WA">
</iframe>



				</div>
                
				</div><!-- /map-outer -->
			
                <!-- /.row -->
           

</div>